/Java/Uebungsblatt3/nbproject/private/
/Java/Uebungsblatt3/build/
/Java/Uebnungblatt3/nbproject/private/
/Java/Uebnungblatt3/build/
/Java/UE3/nbproject/private/
/Java/UE3/build/
/Java/UE3/dist/
/Java/UE3_Iteration4/DBS2-Uebung03-Vorlage/nbproject/private/
/Java/DBS2-Uebung03-Vorlage/nbproject/private/
/Java/UE3_GUI/nbproject/private/
/Java/UE3_GUI/build/